* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	background-color: rgb(0 110 182 / 1);
	padding: 0.5rem;
	color: #fff;
}

p {
	text-align: center;
}

nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
}

main {
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / .2);
	padding: 1rem;
	background-color: #eee;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}
.navigation a {
	font-weight: 700;
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	text-decoration: underline;
	text-decoration-color: yellow;
}